---
import { ViewTransitions } from "astro:transitions";
import "../styles/global.css";
interface Props {
  title: string;
  description?: string;
  image?: string;
  keywords?: string[];
}

const {
  title = "Jubayer Al Mamun",
  description = "Software Developer, CS Undergrad, Tech Enthusiast, and Travel Freak",
  image = "https://jubayeramb.github.io/assets/images/og-image.png",
  keywords,
} = Astro.props;

const keywords_ =
  keywords && keywords.length > 0 ? keywords.join(", ") + ", " : "";

const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Global Metadata -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="author" content="Jubayer Al Mamun" />
    <meta
      name="keywords"
      content={keywords_ +
        `Jubayer Al Mamun, jubayeramb, jubayer amb, Jubayer, Al Mamun, Jubayer Amb, Mamun, Jubayer Al Mamun, Jubayer Al Mamun Blog, 
      Jubayer Al Mamun Website, Jubayer Al Mamun Portfolio, blog, portfolio, programmer, software engineer, software developer, web developer, full stack developer, 
      frontend developer, backend developer, personal website, Jubayer Al Mamun Personal Website, Jubayer Al Mamun Personal Blog, Jubayer Al Mamun Personal Portfolio, 
      Jubayer Al Mamun Personal Website, Jubayer Al Mamun Personal Blog, website, blog website, portfolio website, javascript, typescript, react, reactjs, react js, 
      react native, reactnative, react-native, nextjs, next js, next, next.js, gatsby, gatsbyjs, gatsby js, gatsby.js, nodejs, node js, node, node.js, express, 
      expressjs, express js, express.js, mongodb, mongo db, mongo, mongo-db, mongo db, mongodb, mongodb, mongodb, mongodb, mongodb, mongodb, mongodb,
      software engineering, software development,web development, full stack development`}
    />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:image" content={image} />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content="Jubayer Al Mamun" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content="https://jubayeramb.github.io/" />
    <meta property="og:type" content="website" />
    <meta name="generator" content={Astro.generator} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta name="twitter:creator" content="@jubayeramb" />
    <meta name="twitter:image" content={image} />

    <!-- Sitemap -->
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href={canonicalUrl} />

    <!-- RSS Link -->
    <link
      rel="alternate"
      href="/rss.xml"
      type="application/rss+xml"
      title={title}
    />

    <!-- External Resources -->
    <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>

    <!-- Internal Scripts -->
    <script is:inline src="/scripts/dark-mode.js"></script>

    <!-- View Transitions -->
    <ViewTransitions />
  </head>
  <body class="h-screen bg-bgc text-content">
    <slot />
  </body>
</html>
